html {
    background: url(family.jpg)  no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: color-burn 15%;
}

body {
    
    
}

h1 {
    text-align: center;
    font-size: 36;
}
main {
    font-style: bold;
        width:70%; 
        margin-left:25%;
        margin-right:5%;
        margin-top: 25%;
      }
}
}
table, th, td {
  border: 3px solid black;
  text-align: center;
}
img {

}